/* start global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-col: #00b8b8;
    --dark: #333;
    --light-col: #666;
    --light-bg: #eee;
    --border: 0.2rem solid rgb(0, 0, 0, 0.2);
    --box-shad: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar{
    width: 1rem;
    height: 0.5rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--main-col);
}
html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
section, footer{
    padding: 8rem 2rem;
}
.head{
    color: var(--dark);
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.but{
    display: inline-block;
    color: white;
    font-size: 1.6rem;
    background-color: var(--main-col);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.but:hover{
    color: var(--main-col);
    background-color: var(--dark);
}
/* end global */
/* start header */
header{
    padding: 2rem;
    border-bottom: var(--border);
}
header.active{
    background-color: white;
    border: 0;
    box-shadow: var(--box-shad);
}
header .logo{
    color: var(--dark);
    font-size: 2rem;
}
header .logo span{
    color: var(--main-col);
}
header nav a{
    color: var(--dark);
    font-size: 1.6rem;
    margin: 0 1rem;
}
header nav a:hover{
    color: var(--main-col);
}
header #menu-but{
    display: none;
    color: var(--dark);
    font-size: 2.5rem;
    cursor: pointer;
}
/* end header */
/* start home */
.home{
    background: url(../images/home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.home .content{
    width: 50rem;
    padding: 2rem;
}
.home h3{
    color: var(--dark);
    font-size: 5rem;
    text-transform: uppercase;
}
.home p{
    color: var(--light-col);
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}
/* end home */
/* start about */
#about .row{
    min-height: 50vh;
}
#about span{
    color: var(--main-col);
    font-size: 2rem;
}
#about h3{
    color: var(--dark);
    font-size: 3rem;
    margin-top: 1rem;
}
#about p{
    color: var(--light-col);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}
/* end about */
/* start services */
#services{
    background-color: var(--light-bg);
}
#services .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
#services .box{
    padding: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--box-shad);
}
#services img{
    height: 6rem;
    margin: 1rem 0;
}
#services h3{
    color: var(--dark);
    font-size: 2rem;
    padding: 1rem 0;
}
#services p{
    color: var(--light-col);
    font-size: 1.5rem;
    line-height: 2;
}
/* end services */
/* start process */
.process .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.process .box{
    color: white;
    padding: 2rem;
    text-align: center;
    background-color: var(--main-col);
    border-radius: 0.5rem;
    box-shadow: var(--box-shad);
}
.process img{
    height: 20rem;
    margin: 1rem 0;
}
.process h3{
    font-size: 2rem;
    padding: 1rem 0;
}
.process p{
    font-size: 1.5rem;
    line-height: 2;
}
/* end process */
/* start reviews */
#reviews{
    background-color: var(--light-bg);
}
#reviews .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
#reviews .box{
    padding: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--box-shad);
}
#reviews img{
    width: 10rem;
    border-radius: 50%;
}
#reviews p{
    color: var(--light-col);
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}
#reviews .stars{
    display: inline-block;
    color: var(--main-col);
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
}
#reviews h3{
    color: var(--dark);
    font-size: 2rem;
}
/* end reviews */
/* start contact */
#contact form{
    color: var(--dark);
    max-width: 50rem;
    background-color: var(--light-bg);
    padding: 2rem;
    margin: 0 auto;
    border-radius: 0.5rem;
}
#contact span{
    font-size: 1.2rem;
}
#contact .box{
    font-size: 1.6rem;
    width: 100%;
    padding: 1.2rem 1.4rem;
    margin: 1rem 0 2rem;
    border-radius: 0.5rem;
}
/* end contact */
/* start footer */
footer{
    background-color: var(--light-bg);
    text-align: center;
    padding-bottom: 0;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 3rem;
}
footer .box i{
    color: white;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background-color: var(--main-col);
    border-radius: 50%;
}
footer .box h3{
    color: var(--dark);
    font-size: 2rem;
    margin: 2rem 0;
}
footer .box p{
    color: var(--light-col);
    font-size: 1.5rem;
}
footer .develop{
    color: var(--light-col);
    font-size: 2rem;
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: var(--border);
}
footer .develop span{
    color: var(--main-col);
}
/* end footer */
/* start media queries */
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    section, footer{
        padding: 5rem 2rem;
    }
    header .but{
        display: none;
    }
}
@media (max-width: 768px) {
    section, footer{
        padding: 4rem 2rem;
    }
    header nav{
        position: absolute;
        top: 98%;
        left: 0;
        right: 0;
        padding: 1rem 0;
        text-align: center;
        background-color: white;
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }
    header nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header nav a{
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }
    header #menu-but{
        display: initial;
        transition: 0.2s linear;
    }
    header #menu-but.fa-times{
        transform: rotate(180deg);
    }
    .home{
        background-position: left;
    }
    .home .content{
        width: auto;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .head{
        font-size: 3rem;
    }
    .home h3{
        font-size: 4rem;
    }
}
/* end media queries */